<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="frmMain">
            <p:inputText id="txt1" value="#{introController.txt1}" />
     
            
            
             <p:inputText id="txt2" value="#{introController.txt2}" />
            
             <p:commandButton update="frmMain:txt2" value="change text" 
                              action="#{introController.changeValue}"/>
        </h:form>
       
    </h:body>
</html>

