<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Add department</title>
    </h:head>
    <h:body>
         <h:form id="frmMain">
             <p:inputText  value="#{addDepartmentController.name}" />
             <p:commandButton  value="Mentés" 
                              action="#{addDepartmentController.save}"/>
        </h:form>
    </h:body>
</html>

