<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./../templates/mainTemplate.xhtml"
                >

    <ui:define name="top">
        <a href="http://localhost:8080/server1-web/logout">Logout</a>
    </ui:define>

    <ui:define name="content">
        
    </ui:define>

</ui:composition>
